<div class="message-like">
  <% if message.num_likes > 0 %>
    <span class="num-likes"><%= message.num_likes %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <% end %>
  <div class="like-form">
    <% if message.liked %>
      <%= form_tag("/likes/#{message.like_id}", method: :delete) do %>
        <%= hidden_field_tag :message_id, message.id %>
        <%= submit_tag "<3", class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <%= form_for current_user.likes.build do |f| %>
        <%= hidden_field_tag :message_id, message.id %>
        <%= f.submit "<3", class: "btn" %>
      <% end %>
    <% end %>
  </div>
</div>
