<div class="stat ">
  <%= link_to(following_user_path(user),
              id: "following-#{user.id}",
              class: "btn btn-light bg-transparent border-0") do %>
    <div class="<%= stats_color(user) %>"><%= user.following.count %></div>
    <div class="stat-text font-weight-bold">Following</div>
  <% end %>
</div>
<div class="stat">
  <%= link_to(followers_user_path(user),
              id: "followers-#{user.id}",
              class: "btn btn-light bg-transparent border-0") do %>
    <% cnt = user.followers.count %>
    <div class="<%= stats_color(user) %>"><%= cnt %></div>
    <div class="stat-text font-weight-bold"><%= "Follower".pluralize(cnt) %></div>
  <% end %>
</div>
