<% provide(:title, 'Sign up') %>
<div class="row vh-100 align-items-center">
  <div class="col-md-6 col-md-offset-3 mx-auto bg-light">
    <h1 class="text-center">Sign up</h1>
    <%= form_for @user do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :fullname %>
        <%= f.text_field :fullname, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :photo, "Profile photo:" %>
        <%= f.file_field :photo %>
      </div>
      <div class="form-group">
        <%= f.label :coverimage, "Profile cover:" %>
        <%= f.file_field :coverimage %>
      </div>
      <%= f.submit "Sign up", class: "btn btn-primary w-100" %>
    <% end %>
    <p> Already registered? <%= link_to "Log in", login_path %></p>
  </div>
</div>