<div id="photo-box">
  <%= image_tag(current_user.photo_path, size: "80x80") %>
  <h4 class="ml-2"><%= current_user.fullname %></h4>
</div>
<div class="stats">
  <%= render partial: 'follow_stats', locals: { user: current_user } %>
</div>
<div id="cu-links">
  <%= link_to "Home", root_path, class: "btn btn-outline-light btn-lg" %>
  <%= link_to "Log out", logout_path, method: :delete, class: "btn btn-outline-light btn-lg" %>
</div>
