<div id="cu-info">
  <%= image_tag(current_user.photo_path, size: "50x50") %>
  <h3><%= current_user.fullname %></h3>
  <div class="stats">
    <%= render partial: 'follow_stats', locals: { user: current_user } %>
  </div>
</div>
<div id="cu-links">
  <%= link_to "Home", root_path, class: "btn btn-info btn-lg", style: "margin-bottom: 10px;" %>
  <%= link_to "Log out", logout_path, method: :delete, class: "btn btn-info btn-lg" %>
</div>
