<%= image_tag(current_user.photo_path, size: "50x50") %>
<%= current_user.fullname %>
<div class="stats">
  <%= render partial: 'follow_stats', locals: { user: current_user } %>
</div>
<br>
<%= link_to "Home", root_path %>
<br>
<%= link_to "Log out", logout_path, method: :delete %>